.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 1100px;
  margin: 92px auto 89px auto;
  font-size: 18px;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 17px;
}

.header__menu-list {
  display: flex;
  gap: 32px;
  min-width: none;
  margin-right: 10px;
  text-transform: lowercase;
}

.header__menu-list a,
.contact-link {
  color: #000;
  text-underline-offset: 4px;
}

.header__menu-list-item_active a,
.card-link {
  text-decoration-line: none;
}

.header__menu-list-item {
  gap: 12;
  list-style-type: circle;
}

.header__menu-list-item_active {
  list-style-type: none;
}

.header__logo img {
  width: 140px;
  height: 112px;
}

.header__contacts {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  gap: 5px;
  max-width: 240px;
  margin-left: 191px;
  font-style: normal;
}

.main__cover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1100px;
  min-height: 757px;
  margin: auto;
  /* оставьте пж этот метод, он тоже рабочий, я overlay через cover реализовал ниже */
  background: linear-gradient(rgba(0, 0, 0, 0.6)),
    url(../images/cover.jpg) center/cover;
}

.main__title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  row-gap: 17px;
  width: 1000px;
  padding-top: 165px;
  color: white;
  font-size: 100px;
  letter-spacing: 27px;
  text-transform: uppercase;
}

.main__title-aligned-text_center {
  grid-area: 2/2;
  padding-left: 23px;
}

.main__title-aligned-text_right {
  grid-column: 1/4;
  justify-self: end;
  margin-right: -20px;
}

.main__description {
  display: grid;
  grid-template-columns: 1fr 256px;
  justify-content: end;
  gap: 94px;
  margin-bottom: 52px;
}

.main__description-subline {
  align-self: center;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 20px;
}

.main__subline-button {
  justify-self: center;
  align-self: center;
  min-width: 256px;
  min-height: 51px;
  border: 1px solid #ffffff;
  box-shadow: none;
  outline: none;
  background-color: transparent;
}

.main__subline-button span {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}

.main__subline-button:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.lots__title {
  display: flex;
  margin-left: 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.main__lots {
  display: flex;
  flex-direction: column;
  width: 1052px;
  margin: 180px auto 120px auto;
}

.lots__cards-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: end;
  gap: 25px;
  margin: auto;
  margin-top: 27px;
  list-style-type: none;
}

.card {
  position: relative;
  display: grid;
  align-content: space-between;
  width: 334px;
  min-height: 596px;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.card_type_film {
  background: url(../images/card-lot-01.jpg) center/cover;
}

.card_type_book {
  background: url(../images/card-lot-02.jpg) center/cover;
}

.card_type_picture {
  background: url(../images/card-lot-03.jpg) center/cover;
}

.main__lots-more {
  margin-top: 30px;
  margin-left: 40px;
  color: #000;
  font-size: 20px;
  text-underline-offset: 4px;
}

.card__title {
  position: relative;
  z-index: 2;
  max-width: 254px;
  margin-left: 41px;
  padding-top: 50px;
  padding-bottom: 10px;
  color: white;
  font-size: 22px;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  max-width: 254px;
  margin-bottom: 53px;
  margin-left: 39px;
  color: white;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: auto;
  width: 1052px;
  margin: 120px auto 174px auto;
}

.about__logo {
  grid-column: 1;
  grid-row: 1 / span 3;
  margin-top: 35px;
  margin-left: 47px;
}

.logo-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.logo-image {
  width: 148px;
  height: 1114px;
}

.about__title {
  margin-top: 135px;
  margin-bottom: 103px;
  margin-left: 7px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text-wrapper {
  display: grid;
  gap: 15px;
}

.about__text {
  margin-left: 8px;
  padding-right: 10px;
  padding-bottom: 11px;
  font-size: 20px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1100px;
  margin-bottom: 82px;
  padding-bottom: 20px;
  font-size: 18px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-start;
  gap: 5px;
  max-width: 264.57px;
  margin-left: 50px;
  font-style: normal;
}

.footer__menu-list {
  text-align: center;
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__menu-list a {
  color: #000;
  font-size: 18px;
  font-style: normal;
  text-underline-offset: 4px;
  text-transform: lowercase;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__social-list {
  display: flex;
  justify-content: space-around;
  padding-right: 25px;
  padding-left: 52px;
  list-style-type: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
